<!DOCTYPE html>

<html>
    <head>
        <title>Gestor libreria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../index.css">
    </head>
    <body>
        <h1>Bienvenido a la libreria</h1>
        <a href="/autor/form">AUTORES</a>
        <a href="/editorial/form">EDITORIALES</a>
        <a href="/libro/form">LIBROS</a>
        <a href="/cliente/form">CLIENTES</a>
        <a href="/prestamo/form">PRESTAMOS</a>
    </body>
</html>
